:host
  display flex
  width 1000px
  margin 10px auto
  align-items center
  justify-content: space-between;

.logo
  height 64px

h1
  margin: 0
  color wheat
  font-size 50px
  text-shadow 2px 2px 0px grey
  font-family 'Marck Script', cursive
