<a routerLink="">
  <img class="icon" src="/assets/logo.png">
</a>
<h1 class="logo">Sandwich Club</h1>
<div class="info">
  <a *ngIf="loginService.loggedIn" routerLink="/profiles/{{loginService.profile.id}}" class="link">
    <img class="avatar" src="{{loginService.profile.image}}">
    <div class="name">
      {{loginService.profile.name}}
    </div>
  </a>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/constructor">
      <mat-icon>room_service</mat-icon>
      <span>Constructor</span>
    </button>
    <button mat-menu-item routerLink="/generator">
      <mat-icon>kitchen</mat-icon>
      <span>Generator</span>
    </button>
    <button mat-menu-item routerLink="/search">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button *ngIf="!loginService.loggedIn" mat-menu-item routerLink="/signup">
      <mat-icon>person_add</mat-icon>
      <span>Sign up</span>
    </button>
    <button *ngIf="!loginService.loggedIn" mat-menu-item routerLink="/login">
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="loginService.loggedIn" mat-menu-item routerLink="/bug">
      <mat-icon>bug_report</mat-icon>
      <span>Report bug</span>
    </button>
    <button *ngIf="loginService.loggedIn" mat-menu-item (click)="logout()">
      <mat-icon>directions_walk</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>


