:host
  display flex
  width 1000px
  margin 0 auto

.item
  padding 5px 0
  cursor pointer
  font-size 20px
  margin 20px 40px 20px 0
  border-bottom: 3px solid transparent

  &:hover
    border-bottom-color #d7e1e5
