<mat-card class="item">
  <img class="image" mat-card-image [src]="sandwich.image">
  <mat-card-content>
    <mat-card-title class="title">
      <a class="link" routerLink="sandwich/{{ sandwich.id }}">
        {{ sandwich.title }}
      </a>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">{{ sandwich.description }}</mat-card-subtitle>
    <app-rating [max]="5" [rate]="sandwich.rating" align="center"></app-rating>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

