<div *ngIf="sandwich">
  <img class="image" src="{{ sandwich.image }}">
  <h1 class="title">{{sandwich.title}}</h1>
  <app-rating [max]="5" [rate]="sandwich.rating" align="center"></app-rating>
  <mat-card class="description">
    <div class="description-title">Description</div>
    {{ sandwich.description }}
  </mat-card>
  <div class="row">
    <div class="column">
      <mat-card class="stats">
        <div class="stats-title">Stats</div>
        <div class="stats-item" *ngFor="let stat of stats">
          <div class="stats-name">{{ stat }}</div>
          <app-rating [max]="5" [rate]="sandwich.stats[stat]"></app-rating>
        </div>
      </mat-card>
      <mat-card class="calorie">
        <div class="calorie-title">Сalorie</div>
        <div class="calorie-description">{{ sandwich.calorie }} calories in 100g</div>
      </mat-card>
    </div>
    <mat-card class="ingredients">
      <div class="ingredients-title">Ingredients</div>
      <ul>
        <li *ngFor="let ingredient of sandwich.ingredients">{{ ingredient }}</li>
      </ul>
    </mat-card>
  </div>
</div>
