<div class="feed">
  <md-card class="item"
    *ngFor="let feedItem of feed | filter: searchValue | order: filterValue; trackBy feedItem?.id">
    <img class="image" md-card-image src="{{feedItem.image}}">
    <md-card-content>
      <md-card-title>{{feedItem.title}}</md-card-title>
      <md-card-subtitle>{{feedItem.description}}</md-card-subtitle>
    </md-card-content>
    <md-card-actions class="actions">
      <md-icon svgIcon="thumbs-up"></md-icon>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
<form class="form">
  <md-input-container>
    <input md-input type="search" [(ngModel)]="searchValue" placeholder="Search" name="search">
  </md-input-container>
  <md-select placeholder="Sort by" [(ngModel)]="filterValue" name="filter">
    <md-option *ngFor="let filter of filters" [value]="filter.value">
      {{filter.name}}
    </md-option>
  </md-select>
</form>
