<div class="feed">
  <mat-card class="item"
    *ngFor="let sandwich of feed | filter: searchValue | order: filterValue; trackBy: sandwich?.id">
    <img class="image" mat-card-image src="{{sandwich.image}}">
    <mat-card-content>
      <mat-card-title class="title">
        <a class="link" routerLink="sandwich/{{ sandwich.id }}">
          {{sandwich.title}}
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{sandwich.description}}</mat-card-subtitle>
      <app-rating max="5" rate="{{ sandwich.rating }}" align="center"></app-rating>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<form class="form">
  <mat-input-container>
    <input matInput type="search" [(ngModel)]="searchValue" placeholder="Search" name="search">
  </mat-input-container>
  <mat-select placeholder="Sort by" [(ngModel)]="filterValue" name="filter">
    <mat-option *ngFor="let filter of filters" [value]="filter.value">
      {{filter.name}}
    </mat-option>
  </mat-select>
</form>
