<div class="feed">
  <app-sandwich-card *ngFor="let sandwich of feed | filter: searchValue | order: filterValue; trackBy: sandwich?.id"
                     [sandwich]="sandwich">
  </app-sandwich-card>
</div>
<form class="form">
  <mat-input-container>
    <input matInput type="search" [(ngModel)]="searchValue" placeholder="Search" name="search">
  </mat-input-container>
  <mat-select placeholder="Sort by" [(ngModel)]="filterValue" name="filter">
    <mat-option *ngFor="let filter of filters" [value]="filter.value">
      {{filter.name}}
    </mat-option>
  </mat-select>
</form>
