<form [formGroup]="signUpForm">
    <div class="title">Sign Up</div>

    <mat-input-container>
        <input matInput type="text" placeholder="Login" formControlName="login">
        <mat-error *ngIf="!signUpForm.controls['login'].hasError('minLength' && 'required')">
            Login should be more than 4 symbols
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['login'].hasError('required')">
            Login is <strong>required</strong>
        </mat-error>
    </mat-input-container>

    <mat-input-container>
        <input matInput type="email" placeholder="Email" formControlName="email" name="email" autocomplete="off">
        <mat-error *ngIf="signUpForm.controls['email'].hasError('email') && !signUpForm.controls['email'].hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-input-container>

    <mat-input-container>
        <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="new-password">
        <mat-error *ngIf="!signUpForm.controls['password'].hasError('minLength' && 'required')">
            Password should be more than 4 symbols
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-input-container>

    <mat-input-container>
        <input
            matInput
            formControlName="birth"
            [matDatepicker]="picker"
            [max]="maxDate"
            ngModel
            validateBirth
            placeholder="Your birth">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="signUpForm.controls['birth'].hasError('required')">
            Set your birth date
        </mat-error>
        <mat-error [hidden]="signUpForm.controls['birth'].hasError('validateBirth')">
            Should be older than 14 years old
        </mat-error>
    </mat-input-container>

    <mat-input-container>
        <input matInput type="text" placeholder="FIO" formControlName="fio" autocomplete="off">
        <mat-error *ngIf="!signUpForm.controls['fio'].hasError('maxLength')">
            Login shouldn't be more than 250 symbols
        </mat-error>
    </mat-input-container>

    <button mat-raised-button color="accent" (click)="onSubmit()">Sign Up</button>
    <button (click)="resetForm()" mat-raised-button color="primary">Reset</button>
</form>
