@import '../../assets/css/extends.styl'

:host
  display flex
  padding-bottom 30px
  border-bottom 1px solid grey

.ingredient
  margin 0 15px
  padding 3px 5px 5px
  border-radius 3px
  background $c-purple
  color $c-white
  cursor pointer
