@import './assets/css/extends.styl'

html
  background-color #fcfcfe

body
  margin 0

*::selection
  color $c-white
  background $c-purple


*::-moz-selection
  color $c-white
  background $c-purple

